<div class="container">
  <h1>My Favorite Quotes</h1>
  <hr>

  <div class="row">
    <ul>
      <div *ngFor='let quote of quotes; let i = index'>
        <li>
          {{quote.name}} Created on {{quote.createdDate|date}}.
        </li>
        <br>
        <button (click)='toggleDetails(i)' class="btn btn-primary btn-sm">Show Author</button>
        <app-quote-detail *ngIf='quote.showAuthor' [quote]='quote'></app-quote-detail>
        <button (click)='toggleDetailsTwo(i)' class="btn btn-success btn-sm">Show Submitter</button>
        <app-quote-detailsubmitter *ngIf='quote.showSubmitter' [quote]='quote'></app-quote-detailsubmitter>
        <button (click)='toggleDetailsThree(i)' class="btn btn-warning btn-sm">Show Time Passed</button>
        <app-date-counter *ngIf='quote.showCreatedDate' [quote]='quote'></app-date-counter>
        <hr>
      </div>
    </ul>
  </div>

</div>
