<div>
  <h1>My Favorite Quotes</h1>
  <ul>
    <div *ngFor='let quote of quotes; let i = index'>
      <li>
        {{quote.name}} Created on {{quote.completeDate|date}}.
      </li>
      <br>
      <button (click)='toggleDetails(i)'>Show Author</button>
      <app-quote-detail *ngIf='quote.showAuthor' [quote]='quote'></app-quote-detail>
      <button (click)='toggleDetailsTwo(i)'>Show Submitter</button>
      <app-quote-detailsubmitter *ngIf='quote.showSubmitter'[quote]='quote'></app-quote-detailsubmitter>
      <hr>
    </div>
  </ul>

  
</div>

