<div class="container-fluid">
  <h2 class="text-center">Create a new Quote</h2>
  <hr>
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="form-group">

      <label for="name">Quote:</label>
      <textarea class="form-control" id="name" rows="4" [(ngModel)]="newQuote.name" name="name" #name="ngModel"
        required></textarea>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p>Quote is required</p>
      </div>

      <!-- {{newQuote.name}} -->

    </div>
    <div class="form-group">

      <label for="author">Author:</label>
      <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author"
        #author="ngModel" required>
      <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
        <p>Author is required</p>
      </div>

    </div>
    <div class="form-group">

      <label for="submitter">Submitter:</label>
      <input type="text" class="form-control" id="submitter" [(ngModel)]="newQuote.submitter" name="submitter"
        #submitter="ngModel" required>
      <div [hidden]="submitter.valid || submitter.pristine" class="alert alert-danger">
        <p>Submitter is required</p>
      </div>

    </div>

    <div class="form-group">

      <label for="createdDate">Created Date:</label>
      <input type='date' id="created" [(ngModel)]="newQuote.createdDate" name="createdDate" #createdDate="ngModel"
        required>
      <div [hidden]="createdDate.valid || createdDate.pristine" class="alert alert-danger">
        <p>Date is required</p>
      </div>

    </div>

    <button type="submit" class="btn btn-success">Add Quote</button>
  </form>
</div>